pkgbase = r2modman
	pkgdesc = A simple and easy to use mod manager for several games using Thunderstore.
	pkgver = 3.1.45
	pkgrel = 1
	url = https://github.com/ebkr/r2modmanPlus
	arch = x86_64
	license = MIT
	depends = c-ares
	depends = ffmpeg
	depends = gtk3
	depends = http-parser
	depends = libevent
	depends = libvpx
	depends = libxslt
	depends = libxss
	depends = minizip
	depends = nss
	depends = re2
	depends = snappy
	depends = libnotify
	depends = libappindicator-gtk3
	source = r2modman-3.1.45-x86_64.pkg.tar.xz::
	source = https://github.com/ebkr/r2modmanPlus/releases/download/v3.1.45/r2modman-3.1.45.pacman
	source = https://github.com/ebkr/r2modmanPlus/raw/v3.1.45/LICENSE
	sha256sums = e704772a4b9d6f37a51c8c3e1bd3a3f445361841d08acf378aafe1b1cb8dd641
	sha256sums = ab4643c18a58edee5b0beac8278517f6475b2956d5999b40e3176297b9a0ce18

pkgname = r2modman
